services:
  backend:
    build: ./backend
    expose:
      - '8000'
    environment:
      - FRONTEND_URL=http://frontend:8501
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/docs']
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    ports:
      - '8501:8501'
    environment:
      - API_URL=http://backend:8000/predict
    depends_on:
      backend:
        condition: service_healthy
